.container {
    padding: 2rem;
    background-color: var(--bg-color-primary);
    color: var(--text-white);
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
  }
  
  .page-title {
    text-align: center;
    color: var(--text-color-primary);
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .divider {
    border: 1px solid var(--border-color);
    margin: 0 auto 2rem;
    width: 70%;
  }
  
  .announcement-card {
    background-color: var(--bg-color-secondary);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: 1.5rem;
    padding-left: 4rem;
    padding-right: 4rem;
    margin: 1.5rem auto;
    max-width: 800px;
    box-shadow: var(--box-shadow-xs);
  }
  
  .card-header {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    margin-bottom: 1rem;
  }
  
  .author {
    font-size: 1.5rem;
    color: var(--text-white);
  }
  
  .date {
    font-size: 1.25rem;
    color: var(--text-color-secondary);
  }
  
  .message {
    font-size: 1rem;
    line-height: 1.6;
    color: var(--text-white);
    white-space: pre-wrap;
  }

  .new-announcement-btn-wrapper {
    text-align: center;
    margin: 1rem;
  }
  
  .new-announcement-btn {
    background-color: var(--primary-color-btn);
    color: var(--text-white);
    border: none;
    padding: 0.4rem 1.2rem;
    border-radius: var(--border-radius);
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
    box-shadow: var(--box-shadow-btn);
    transition: background-color 0.3s ease;
  }
  
  .new-announcement-btn:hover {
    background-color: var(--button-hover);
  }

  .new-announcement-btn:active {
    background-color: var(--primary-color-btn);
  }