.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background-color: var(--bg-color-secondary);
    padding: 2rem;
    border-radius: var(--border-radius);
    width: 90%;
    max-width: 500px;
    box-shadow: var(--box-shadow-sml);
  }
  
  h2 {
    color: var(--text-color-primary);
    margin-bottom: 1.5rem;
  }
  
  .form-group {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  label {
    display: block;
    color: var(--text-color-secondary);
    margin-bottom: 0.5rem;
    text-align: center;
    width: 80%;
  }
  
  input, textarea, select {
    width: 80%;
    padding: 0.8rem;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    background-color: var(--bg-color-primary);
    color: var(--text-white);
  }
  
  textarea {
    min-height: 100px;
    resize: vertical;
    width: 80%;
  }
  
  select {
    width: 80%;
    text-align: center;
  }
  
  .modal-actions {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
    width: 100%;
  }
  
  .cancel-btn, .save-btn {
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    width: 150px;
  }
  
  .cancel-btn {
    background-color: transparent;
    color: var(--text-color-secondary);
    border: 1px solid var(--border-color);
  }
  
  .save-btn {
    background-color: var(--primary-color-btn);
    color: var(--text-white);
  }